<div>
    <h3>{{user.name}}</h3>
    <h4>{{user.address}}</h4>
    <!-- <div>
        <p>Phone:</p>
        <p>{{user.phone[0]}}</p>
        <p>{{user.phone[1]}}</p>
    </div> -->
    <div *ngIf="user.phone.length>0">
        <!-- <p>Phone: </p>
        <p *ngFor="let phoneNumber of user.phone">
            {{phoneNumber}}
        </p> -->
        <table border="2">
            <tr>
                <th>Name</th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{user.address}}</td>
            </tr>
            <tr>
                <th>phoneNumber</th>
                <td>
                    <ul>
                        <li *ngFor="let phoneNumber of user.phone">{{phoneNumber}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
